<section class="container">
    <h3>{{ !editMode ? 'Thêm mới thông tin user' : 'Cập nhật thông tin user' }}</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlFile1">Chọn ảnh</label>

                <div class="upload-file">
                    <input type="file" name="file" id="file" class="inputfile" />
                    <label for="file">Nhấn vào đây</label>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="id">Patient ID</label>
                    <input type="text " class="form-control " [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="userData.id" placeholder="patient ID">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4 ">Last name</label>
                    <input type="text " class="form-control " [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="userData.lastName" placeholder="Last name ">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4 ">First Name</label>
                    <input type="text " class="form-control " [(ngModel)]="userData.firstName"
                        [ngModelOptions]="{standalone: true}" placeholder="First Name ">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState ">Gender</label>
                    <select id="inputState " class="form-control " [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="userData.gender">
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4 ">Admission Date</label>
                    <input type="date" class="form-control" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="userData.admissionDate" placeholder="Admission Date ">
                </div>
    
                <div class="form-group col-md-6">
                    <label for="inputEmail4 ">Mobile</label>
                    <input type="text " [(ngModel)]="userData.mobile" [ngModelOptions]="{standalone: true}"
                        class="form-control " id="inputEmail4 ">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputEmail4 ">D.O.B</label>
            <input type="date" class="form-control " [ngModelOptions]="{standalone: true}"
                [(ngModel)]="userData.birthdate" placeholder="Patient ID ">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4 ">Room</label>
            <input type="text " class="form-control " [(ngModel)]="userData.room"
                [ngModelOptions]="{standalone: true}" placeholder="Last name ">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4 ">Bed</label>
            <input type="text" class="form-control " [ngModelOptions]="{standalone: true}"
                [(ngModel)]="userData.bed" placeholder="Mide">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label for="Phone ">Home Phone</label>
                <input type="text" class="form-control " [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="userData.homePhone" placeholder="Home Phone ">
            </div>
           
            <div class="form-group">
                <label for="Phone ">Work Phone</label>
                <input type="text " class="form-control " [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="userData.workPhone" placeholder="Work Phone ">
            </div>

        </div>

        <div class="form-group col-md-8">
            <label for="exampleFormControlTextarea1 ">Address</label>
            <textarea class="form-control" [(ngModel)]="userData.address" [ngModelOptions]="{standalone: true}"
                rows="4" style="height: 124px;"></textarea>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button routerLink="/users" class="btn btn-cancel mr-2" >Huỷ</button>
        <ng-container *ngIf="editMode">
            <button type="submit" class="btn btn-primary" (click)="editOneUser()">Cập nhật</button>
        </ng-container>

        <ng-container *ngIf="!editMode">
            <button type="submit" class="btn btn-primary" (click)="addOneUsers()">Lưu lại</button>
        </ng-container>
        
        
    </div>
   
</section>